<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>

<body>
<div layout:fragment="content">
    <div class="breadcrumb-area breadcrumb-padding-6">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <div class="breadcrumb-title">
                    <h2>Cart Page</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- 테이블 시작 부분 -->
    <div class="cart-area pb-130">
        <div class="container">
            <div class="row pb-80">
                <div class="col-12">
                        <div class="cart-table-content">
                            <div class="table-content table-responsive">
                                <table>
                                    <input type="hidden" name="cartId" th:value="${cartId}">        <!-- 제품번호 -->
                                    <input type="hidden" name="productId" th:value="${productId}">  <!-- 상품번호 -->
                                    <input type="hidden" name="id" th:value="${id}">                <!-- 회원번호 -->
                                    <thead>
                                    <tr>
                                        <th class="width-thumbnail"></th>
                                        <th class="width-name">상품명</th>
                                        <th class="width-price">가격</th>
                                        <th class="width-quantity">수량</th>
                                        <th class="width-subtotal">총 금액</th>
                                        <th class="width-remove"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="data:${lists}">
                                        <td class="product-thumbnail">
                                            <!-- <a href="product-details.html"><img src="assets/images/cart/cart-1.jpg" alt=""></a> -->
                                        </td>
                                        <td class="product-name">
                                           <!-- <h5><a href="#" th:text="${data.productEntity.productName}">productName</a></h5>-->
                                        </td>
                                        <td class="product-price">
                                            <!--<h5><a th:text="${data.productEntity.productPrice}">productPrice</a></h5>-->
                                        </td>
                                        <td class="cart-quality">
                                        <!--    <div class="product-quality" id="productQualityContainer">
                                                <input id="productQuantity" name="productQuantity" class="cart-plus-minus-box input-text qty text" th:value="${data.productEntity.productNum}">   &lt;!&ndash; 수량변경 &ndash;&gt;
                                            </div>-->
                                        </td>
                                        <td class="product-total" style="text-align: right;" id="producTotal">
                                <!--            <h5 style="white-space: nowrap;">
                                                <a th:text="${data.productEntity.producTotal}">총 금액</a>
                                            </h5>-->
                                        </td>
                                        <script>
                                            document.addEventListener('DOMContentLoaded', function () {
                                                var productQuantity = document.getElementById("productQuantity");
                                                var productQualityContainer = document.getElementById("productQualityContainer");

                                                productQualityContainer.addEventListener('click', function (event) {
                                                    var target = event.target;
                                                    if (target.classList.contains('dec')) {
                                                        decreaseQuantity();
                                                    } else if (target.classList.contains('inc')) {
                                                        increaseQuantity();
                                                    }
                                                });

                                                var i = parseInt(productQuantity.value);
                                                var productPrice = parseFloat(document.getElementById("productPrice").textContent.replace("원", "").replace(",", ""));

                                                // 초기화 코드 추가
                                                updateQuantityAndTotal();

                                                function increaseQuantity() {
                                                    i++;
                                                    updateQuantityAndTotal();
                                                }

                                                function decreaseQuantity() {
                                                    if (i > 1) {
                                                        i--;
                                                        updateQuantityAndTotal();
                                                    }
                                                }

                                                function updateQuantityAndTotal() {
                                                    productQuantity.value = i;
                                                    var producTotalNum = i * productPrice;
                                                    document.querySelector("#producTotal").textContent = producTotalNum.toLocaleString() + "원";

                                                    var totalAmountValue = i * productPrice;
                                                    document.querySelector("#productNum").textContent = i;
                                                }
                                            });
                                        </script>
                                        <td class="product-remove">
                                            <a href="#">
                                                <i class="las la-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- 사이 여백 -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="cart-shiping-update-wrapper">
                                    <div class="cart-shiping-update">
                                        <!-- 여백-->
                                    </div>
                                    <div class="cart-clear">
                                        <button th:onclick="|location.href='@{/productlist}'|">쇼핑하기</button>
                                        <a href="#">장바구니 비우기</a>
                                        <!-- <a th:href="@{/cart/remove(cartId=${data.id})}"><button type="button">삭제</button></a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 사이 여백 -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="cart-calculate-discount-wrap mb-40">
                        <!-- <h4>Calculate shipping </h4> -->
                        <div class="calculate-discount-content">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="cart-calculate-discount-wrap mb-40">
                        <div class="calculate-discount-content">
                            <div class="input-style">
                                <div class="cart-shiping-update-wrapper">
                                    <div class="cart-shiping-update">
                                        <!-- 좌측 여백 -->
                                    </div>
                                    <div class="cart-clear">
                                        <!-- 좌측 여백 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">  <!-- 합계 부분 -->
                    <div class="grand-total-wrap">
                        <div class="grand-total-content">
                            <div class="grand-total">
                                <h4>Total <span id="producTotal" style="white-space: nowrap;"></span>&nbsp;
                                    (<span id="productNum">1</span> 개) </h4>    <!-- 장바구니에 담긴 상품 전체의 합계 금액 -->
                            </div>
                        </div>
                        <div class="grand-total-btn">
                            <a class="btn btn-link" th:href="@{/order}">구매 하기</a>
                        </div>
                        <div class="grand-total-btn">
                            <a class="btn btn-link" th:onclick="|location.href='@{/oauth2/authorization/kakao}'|">카카오 간편 구매</a>   <!-- 비회원에게 표시 -->
                        </div>
                    </div>
                </div>      <!-- 합계 부분 끝 -->
            </div>
        </div>
    </div>
</div>
</body>
</html>